body {
  background-color: hsl(180, 29%, 50%);
}
.headerColor {
  background-color: hsl(180, 52%, 96%);
}
.container {
  display: flex;
  border: 5px solid blueviolet;
  font-size: 15px;
  margin-top: 50px;
}
nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 150px;
  padding: 5px;
  border: 3px solid hsl(180, 29%, 50%);
}
h2 {
  margin-left: 5px;
}
.languages {
  margin-left: 5px;
}
h1 {
  font-size: 20px;
  /* margin-right: 80px; */
  padding-top: 30px;
}
.nameNewFeatured {
  display: flex;
  list-style: none;
}
img {
  width: 8rem;
}
.dateContLoc {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
